.root {
    -fx-background-color: #DFDDD480;
    -fx-font-family: 'Mirza Bold'; /* Assurez-vous que le nom correspond au nom de la police chargée */
}

@font-face {
    font-family: 'Mirza-Bold';
    src: url('../fonts/Mirza-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mirza-Regular';
    src: url('../fonts/Mirza-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* ############ Texte ############ */

.h1 {
    -fx-text-fill: #143442; /* Définit la couleur du texte du label en rouge */
    -fx-font-size: 30px; /* La taille de la police du bouton */
}

.h2 {
    -fx-text-fill: #143442; /* Définit la couleur du texte du label en rouge */
    -fx-font-size: 20px; /* La taille de la police du bouton */
}

.h3 {
    -fx-text-fill: #143442; /* Définit la couleur du texte du label en rouge */
    -fx-font-size: 16px; /* La taille de la police du bouton */
}

.label-bold {
    -fx-font-size: 16px; /* Taille du texte un peu plus grande */
    -fx-font-family: 'Mirza-Bold'; /* La police du texte */
}


/* ############ Bouton ############ */

.boutonBleu {
    -fx-background-color: #416569; /* La couleur de fond du bouton */
    -fx-text-fill: #FFFFFF; /* La couleur du texte du bouton */
    -fx-font-family: 'Mirza Regular'; /* La police du texte du bouton */
    -fx-font-size: 16px; /* La taille de la police du bouton */
    -fx-border-radius: 20px; /* Le rayon de la bordure pour les coins arrondis */
    -fx-background-radius: 20px; /* Le rayon de l'arrière-plan pour les coins arrondis */
    -fx-padding: 0px 50px; /* Le padding à l'intérieur du bouton */
}

.boutonBleu:hover {
    -fx-background-color: #143442; /* Couleur de fond au survol */
    -fx-text-fill: #416569; /* Couleur du texte au survol */
}

.boutonBleu:pressed {
    -fx-background-color: #416569; /* Couleur de fond au clic */
    -fx-text-fill: #FFFFFF; /* Couleur du texte au clic */
}

.close-button {
    -fx-background-color: transparent; /* Rendre le fond transparent */
    -fx-text-fill: #FFFFFF; /* Couleur du texte */
    -fx-border-color: transparent; /* Rendre la bordure transparente */
    -fx-font-size: 30px; /* Augmenter la taille du texte */
    -fx-font-weight: bold; /* Mettre le texte en gras */
}


/* ############ Champs ############ */

.champ {
    -fx-background-color: #FFFFFF; /* Couleur de fond */
    -fx-background-radius: 20px; /* Rayon du fond pour les coins arrondis */
    -fx-padding: 5px 10px 5px; /* Haut, Droit, Bas, Gauche */
    -fx-font-family: 'Mirza Regular'; /* La police du texte du bouton */
    -fx-font-size: 12px; /* La taille de la police du bouton */
    -fx-max-width: 200px; /* La largeur maximale du champ */
}

.champ:hover {
    -fx-background-color: #FFFFFF80; /* Couleur de fond au survol */
}

.date-picker:disabled {
    -fx-opacity: 1;
    -fx-background-color: transparent;
}

/* ############ Conteneurs ############ */

.conteneur {
    -fx-background-color: #5A93A480;
    -fx-border-color: #416569; /* Couleur de la bordure */
    -fx-border-width: 2px; /* Largeur de la bordure */
    -fx-border-style: solid; /* Style de la bordure */
    -fx-padding: 10px 15px 0px 15px; /* Haut, Droit, Bas, Gauche */
    -fx-border-radius: 20px; /* Rayon de la bordure pour les coins arrondis */
    -fx-background-radius: 20px; /* Rayon du fond pour les coins arrondis */
}


/* ############ Labels ############ */

.lien {
    -fx-text-fill: #416569; /* Définit la couleur du texte du label en rouge */
    -fx-font-size: 12px; /* La taille de la police du bouton */
}

.lien:hover {
    -fx-text-fill: #FFFFFF; /* Définit la couleur du texte du label en blanc */
}

.lien:pressed {
    -fx-text-fill: #416569; /* Définit la couleur du texte du label en rouge */
}


/* ############ Bandeau Music ############ */

.container-Bandeau-Music {
    -fx-background-color: #142F3E; /* Couleur de fond */
    -fx-padding: 10px;
    -fx-alignment: center;
}

.bandeau-music{
    -fx-background-color: #D9D9D9; /* Couleur de fond */
    -fx-background-radius: 20px; /* Rayon du fond pour les coins arrondis */
    -fx-padding: 5px 10px 5px; /* Haut, Droit, Bas, Gauche */
    -fx-font-family: 'Mirza Regular'; /* La police du texte du bouton */
    -fx-font-size: 12px; /* La taille de la police du bouton */
}

.musicBouton{
        -fx-background-radius: 15;
        -fx-background-color: #ffffff;
    -fx-padding: 5px 10px 5px; /* Haut, Droit, Bas, Gauche */
    }

/* ############ Page admin ############ */
.label-description {
    -fx-background-color: #D9D9D9; /* Couleur de fond pour la description */
    -fx-background-radius: 15px; /* Arrondir les coins */
    -fx-padding: 10px; /* Espacement intérieur */
    -fx-font-size: 14px; /* Taille de la police pour la description */
    -fx-font-family: 'Mirza-Regular'; /* La police de la description */
}
